BasedOnStyle: Google
IndentWidth: 4
ObjCBlockIndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Linux
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
