name: Run Integration Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'Samples/Tests/**'
      - 'Samples/Common/Sources/IntegrationTestsHelper/**'
      - '.github/workflows/integration-tests.yml'
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 1 * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: macos-15
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          # iOS integration tests are too flaky and are temporary excluded
          # - platform: iOS
          - platform: macOS
          # tvOS integration tests became flaky after Xcode 16.2
          # - platform: tvOS
          - platform: watchOS
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Development Environment
        run: ./setup-dev.sh

      - name: Use Latest Stable Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Ensure the Platform is Downloaded
        if: ${{ matrix.platform != 'macOS' }}
        run: |
          xcodebuild -runFirstLaunch
          xcrun simctl list
          xcodebuild -downloadPlatform ${{ matrix.platform }}
          xcodebuild -runFirstLaunch

      - name: Install Tuist
        run: |
          brew tap tuist/tuist
          brew install tuist@4.18.0

      - name: Generate Project
        working-directory: ./Samples
        run: tuist generate --verbose --no-open

      - name: Run Build
        uses: mxcl/xcodebuild@v3
        with:
          action: test
          workspace: "Samples/KSCrashSamples.xcworkspace"
          scheme: "Sample"
          platform: ${{ matrix.platform }}
